POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
VITE_BACKEND_URL=
CORS_ALLOWED_ORIGINS=
SESSION_COOKIE_SECURE=
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_NAME=
SESSION_COOKIE_SAME_SITE=
SESSION_COOKIE_PATH=
SESSION_EXPIRY_SECONDS=
