.pageWrapper {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

@media (max-width: 1280px) {
    .pageWrapper {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .pageWrapper {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .pageWrapper {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .pageWrapper {
        width: 90%;
    }
}
